{%extends 'base.html'%}
{%load i18n%}
{%load markup%}

{%block title%}{{flatpage.title}}{%endblock%}
{%block slogan%}Anomalies: Improvised Works 2007-2014{%endblock%}

{%block fbtitle%}{{flatpage.title}}{%endblock%}
{%block fbtype%}article{%endblock%}
{%block fbimage%}img/anomalies-small.jpg{%endblock%}
{%block meta%}
<meta property="og:description" content="Ranging between laid-back coffee table jazz, powerful metal-inspired riffs and glacial ambient, this careful selection from seven years' worth of solo piano improvisation recordings is a journey of contrasts." />
<meta property="article:author" content="lukasz.langa">
{%endblock%}

{%block menu%}<ul><li>
<li><div style='width:125px; height:40px; margin:0; padding:0; border:0; background-image:url(http://www.cdbaby.com/Images/Links/linkmkr_btn6_buyalbum.png);'><a class="button" href='http://www.cdbaby.com/cd/lukaszlanga' style='width:125px; height:40px; margin:0; border:0; background-color:transparent;'></a></div>
<li><a class="button" href="https://play.spotify.com/album/2shM1lvBtomCTY2i6d1YFd" target="_blank"><img src="/static/img/logo-spotify.png" alt="Spotify" title="Spotify" height="40"></a>
<li><a class="button" href="https://itun.es/us/pyfK3" target="_blank"><img src="/static/img/logo-applemusic.png" alt="Apple Music" title="Apple Music" height="40"></a>
<li><a class="button" href="http://listen.tidal.com/album/37257460" target="_blank"><img src="/static/img/logo-tidal.png" height="40" alt="TIDAL" title="TIDAL"></a>
<li><div><a class="button" href="https://play.google.com/store/music/album/Łukasz_Langa_Anomalies_Improvised_Works_2007_2014?id=B45e64zqnyhfobn22qezca3fkyq" target="_blank"><img src="/static/img/logo-googleplay.png" alt="Google Play" title="Google Play" height="40"></a>
<li><a class="button" href="http://rd.io/x/QaanFSISeO8/" target="_blank"><img src="/static/img/logo-rdio.png" height="40" alt="Rdio" title="Rdio"></a>
<li><a class="button" href="http://www.deezer.com/album/9000685" target="_blank"><img src="/static/img/logo-deezer.png" height="40" alt="Deezer" title="Deezer"></a>
</ul>{%endblock%}

{%block body%}
<article>
{{flatpage.content|safe}}
</article>
{%endblock%}
{%block js%}
{%endblock%}
{%block copyright%}
&copy; 2007 - 2014 Łukasz Langa
{%endblock%}
{%block poweredby%}
Zero Division Records
{%endblock%}
