{%extends 'base.html'%}
{%load i18n%}
{%load markup%}

{%block title%}{{flatpage.title}}{%endblock%}

{%block fbtitle%}{{flatpage.title}}{%endblock%}
{%block fbtype%}article{%endblock%}

{%block body%}
<article>
<h1>{{flatpage.title}}</h1>
<h4>{{flatpage.modified}}
{%if content.modified%}
({%trans 'updated'%}: {{content.modified}})
{%endif%}
</h4>
{{flatpage.content|safe}}
</article>
{%endblock%}
{%block js%}
{%endblock%}

