{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'lukasz.langa.pl Admin' %}{% endblock %}

{% block extrastyle %}
<style>
#header{ background-color: #333940; border-bottom: solid 3px #999; }

#branding h1{ color: #fff; }
.module h2, .module caption, .inline-group h2 { background:#ccc
url(/static/admin/img/nav-bg.gif) bottom left repeat-x; color: #333940;
}
a.section:link, a.section:visited { color: #666666; }
.autocomplete { width: 220px; }
</style>
{% endblock %}

{% block branding %}
<h1 id="site-name" > {% trans 'lukasz.langa.pl Admin' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
