html {
  background: #0b0b0b url("/static/img/recall-background.jpg") top center no-repeat;
  background-attachment: fixed;
  font-family: "lato", Arial;
  font-size: 18px;
  color: #fbfbf7; }

a {
  color: #111144; }

a:visited {
  color: #330033; }

h1 {
  display: none; }

h2 {
  margin-top: 2em;
  margin-bottom: 1em;
  font-weight: bold;
  font-style: italic;
  font-size: 1.2em; }

p {
  margin-top: 1em;
  text-align: justify; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

blockquote {
  color: #7a7a78;
  margin: 1em 0 0 2em; }

#container {
  border: 0px;
  clear: both;
  line-height: 150%;
  margin: 2em auto;
  max-width: 640px;
  min-height: 5em;
  overflow: hidden;
  padding: 2em; }
  #container ul {
    margin-top: 3em;
    list-style-type: none; }
    #container ul li {
      color: #fbfbf7;
      float: left;
      display: block;
      margin-right: 24px;
      text-transform: uppercase; }
      #container ul li a.button {
        display: block;
        overflow: hidden;
        margin-bottom: 4px; }
    #container ul a {
      color: #7a7a78;
      text-decoration: none; }
    #container ul a:hover {
      color: #fbfbf7;
      text-decoration: underline; }
  #container #coverart {
    margin-bottom: 2em;
    max-width: 100%; }
  #container #tracklist {
    width: 100%; }
    #container #tracklist td.trackno {
      width: 2em;
      color: #7a7a78; }
    #container #tracklist td.duration {
      text-align: right;
      color: #7a7a78; }

#footer {
  position: relative;
  overflow: visible;
  margin-left: 48px;
  margin-right: 48px;
  color: #7a7a78; }
  #footer #copyright {
    float: right;
    text-align: right; }
  #footer #powered-by {
    float: left; }

#end-of-page {
  clear: both; }

/*# sourceMappingURL=recall.css.map */
