html {
  background: #444444 url("/static/img/debut_dark.png");
  font-family: Palatino, Palatino Linotype, Georgia, serif;
  font-size: 18px;
  color: #222222; }

a {
  color: #111144; }

a:visited {
  color: #330033; }

h1 {
  font-size: 2em; }

h2 {
  margin-top: 1em;
  font-size: 1.5em; }

h3 {
  margin-top: 1em;
  font-weight: bold;
  font-style: italic;
  font-size: 1.2em; }

h4 {
  padding-top: 0.3em;
  font-style: italic;
  color: #888888; }

h2 a {
  text-decoration: none;
  color: #222222; }
h2 a:visited {
  color: #222222; }
h2 a:hover {
  text-decoration: underline;
  color: #111144; }

p {
  margin-top: 1em;
  text-align: justify; }

pre {
  margin: 1em 0 0 1em; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

blockquote {
  margin: 1em 0 0 2em; }

table.docutils {
  margin: 1em 0 0 1em; }
  table.docutils td.label {
    padding-right: 1em; }

table.docutils.footnote {
  color: #666666; }

#header {
  position: relative;
  overflow: hidden;
  margin-left: 48px;
  margin-right: 48px;
  font-size: 3em;
  margin-top: 0.3em; }
  #header #title {
    color: #dddddd;
    float: left; }
    #header #title a {
      color: #dddddd;
      text-decoration: none; }
    #header #title a:hover {
      color: #dddddd;
      text-decoration: underline; }
  #header #slogan {
    color: #888888;
    font-style: italic;
    float: right; }

#menu {
  position: relative;
  overflow: hidden;
  margin-left: 48px;
  margin-right: 48px;
  margin-top: 1em; }
  #menu ul {
    margin-left: 4px;
    list-style-type: none;
    font-family: Verdana, sans-serif;
    font-size: 85%; }
    #menu ul li {
      color: #dddddd;
      float: left;
      display: block;
      margin-right: 2em;
      text-transform: uppercase; }
      #menu ul li a.button {
        display: block;
        overflow: hidden;
        margin-bottom: 4px; }
    #menu ul a {
      color: #888888;
      text-decoration: none; }
    #menu ul a:hover {
      color: #dddddd;
      text-decoration: underline; }
  #menu #flags {
    margin-top: 4px;
    margin-bottom: -4px;
    float: right; }
    #menu #flags a img {
      opacity: 0.5;
      filter: alpha(opacity=50); }
    #menu #flags a:hover img {
      opacity: 1;
      filter: alpha(opacity=100); }

#container {
  clear: both;
  background: #dddddd url("/static/img/debut_light.png");
  margin: 1em 2em;
  padding: 2em;
  min-height: 5em;
  border-radius: 14px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border: 0px;
  line-height: 150%; }
  #container #lead p {
    margin-right: 20%;
    font-weight: bold;
    text-align: left; }
  #container #next-prev {
    clear: both;
    margin-top: 1em;
    overflow: hidden; }
    #container #next-prev #prev-entry {
      float: left; }
    #container #next-prev #next-entry {
      float: right; }
  #container ul {
    list-style-position: outside;
    list-style-type: disc; }
  #container img {
    max-width: 100%; }
  #container pre.code.literal-block .keyword,
  #container pre.code.literal-block .operator,
  #container pre.code.literal-block .punctuation {
    font-weight: bold; }

#footer {
  position: relative;
  overflow: visible;
  margin-left: 48px;
  margin-right: 48px;
  color: #888888; }
  #footer #copyright {
    float: right;
    text-align: right; }
  #footer #powered-by {
    float: left; }
  #footer #other-portals {
    background-color: #888888;
    width: 144px;
    min-height: 42px;
    margin: 1em auto;
    padding: 9px 18px 5px 20px;
    border-radius: 14px;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border: 0px; }

#end-of-page {
  clear: both; }

#show h4#tags {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC") repeat-x scroll left bottom transparent;
  display: block;
  padding-top: 1em;
  height: 2em; }
#show .note {
  margin: 0 2em; }
  #show .note .admonition-title {
    font-weight: bold;
    font-style: italic; }
#show #share {
  margin-top: 1em;
  width: 100%; }
  #show #share div {
    vertical-align: top; }
  #show #share .tweet {
    margin-right: 2em;
    float: left; }
#show ul {
  margin-top: 1em;
  list-style: disc outside;
  padding-left: 2em; }
  #show ul li {
    padding-left: 1em; }

#recent p.article-link {
  margin-top: 0; }
#recent h1 {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC") repeat-x scroll left bottom transparent;
  display: block;
  height: 1.1em; }
#recent h3 {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC") repeat-x scroll left bottom transparent;
  display: block;
  height: 1.6em; }
#recent .rss {
  float: right; }
  #recent .rss a img {
    opacity: 0.5;
    filter: alpha(opacity=50); }
  #recent .rss a:hover img {
    opacity: 1;
    filter: alpha(opacity=100); }

#tag p.article-link {
  margin-top: 0; }
#tag h1 {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC") repeat-x scroll left bottom transparent;
  display: block;
  height: 1.1em; }
#tag h3 {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC") repeat-x scroll left bottom transparent;
  display: block;
  height: 1.6em; }
#tag .rss {
  float: right; }
  #tag .rss a img {
    opacity: 0.5;
    filter: alpha(opacity=50); }
  #tag .rss a:hover img {
    opacity: 1;
    filter: alpha(opacity=100); }

#archive h1 {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC") repeat-x scroll left bottom transparent;
  display: block;
  height: 1.1em; }
#archive table {
  margin-top: 1em; }
#archive td {
  padding-bottom: 1em; }
#archive td.year {
  vertical-align: top;
  font-size: 1.5em;
  width: 80px; }
#archive td.month-day {
  vertical-align: top;
  font-size: 1.25em;
  font-style: italic;
  width: 90px; }
#archive td.title {
  vertical-align: top; }
  #archive td.title h2 {
    margin-top: 0; }

#facebook-love {
  display: none; }

#private ul.errorlist {
  margin-top: 1em;
  margin-bottom: -1.2em;
  color: #661111;
  font-size: 0.8em; }

#anomalies {
  overflow: hidden; }
  #anomalies #info ol {
    list-style-type: decimal;
    list-style-position: inside; }
  #anomalies #coverart {
    float: right;
    max-width: 1400px;
    width: 70%;
    margin-left: 1em; }

.contact-info {
  float: right;
  position: relative;
  top: -3.5em;
  right: 0; }
  .contact-info p.download-as-pdf {
    margin-top: 0;
    text-align: right; }

h2.dotted {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC") repeat-x scroll left bottom transparent;
  display: block;
  height: 1.4em; }

ul.curriculum {
  margin-top: 1em;
  list-style: disc; }
  ul.curriculum li {
    margin-left: 2em;
    padding-left: 1em; }

table.curriculum {
  margin-top: 1em;
  clear: both; }
  table.curriculum td {
    vertical-align: top; }
  table.curriculum td.type {
    width: 180px; }
  table.curriculum td.main {
    text-align: justify; }
    table.curriculum td.main h3 {
      margin-top: 0; }
  table.curriculum td.right {
    text-align: center; }

@media print {
  html {
    background-color: white;
    font-size: 10pt; }

  #header #title {
    color: black; }
  #header #slogan {
    display: none; }

  #container .contact-info ul {
    list-style-type: none; }
  #container .contact-info p.download-as-pdf {
    display: none; }

  #menu {
    display: none; }

  #container {
    background-color: #f0f0f0; }
    #container #share {
      display: none; }
    #container #next-prev {
      display: none; }

  p.empty {
    height: 2pt;
    font-size: 1pt; }

  #footer {
    display: none; } }

/*# sourceMappingURL=style.css.map */
