{%extends 'base.html'%}
{%load i18n%}

{%block title%}{%trans '404: the page you requested is unavailable'%}{%endblock%}

{%block custom-menu-entry%}<li>{%trans 'An error occured'%}{%endblock%}

{%block body%}
<h1>{%trans 'Error'%} 404</h1>
<h4>{%trans 'Page not found.'%}</h4>
<p class="lead">{%trans 'The page you requested is apparently unavailable.'%}</p>
<p>{%blocktrans%}
Maybe it doesn't exist. Maybe it never existed. Maybe it existed in an alternative version of the site. Maybe it requires extraordinary privileges. Or maybe you just made the URL up?
{%endblocktrans%}</p>
{%endblock%}
