{%extends 'base.html'%}
{%load i18n%}

{%block title%}{%trans "Archive"%}{%endblock%}

{%block body%}
<h1>{%trans "Archive"%}</h1>
<table>
{%for content in contents%}
  <tr>
    <td class="year">
      {%ifchanged content.get_sort_date.year%}
      {{content.get_sort_date.year}}
      {%endifchanged%}
    </td>
    <td class="month-day">
      {%ifchanged content.get_sort_date.date%}
      {{content.get_sort_date.date|date:"M d"}}
      {%endifchanged%}
    </td>
    <td class="title">
      <h2><a href="{{content.get_absolute_url}}">{{content.title}}</a></h2>
      <h4>
        {%if content.get_tags%}
          {%trans 'Entry tagged as'%}:
          {%for tag in content.get_tags%}
            <a href="{%url tag tag.name_urlencoded%}">{{tag.name}}</a>{%if not forloop.last%}, {%endif%}
          {%endfor%}
        {%endif%}
      </h4>
    </td>
  </tr>
{%endfor%}
</table>
{%endblock%}
