{%load i18n%}
{%load settings%}
{%settings STATIC_URL%}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
  <head>
    <meta charset="utf-8" />
    <meta property="og:title" content="{%block fbtitle%}lukasz.langa.pl{%endblock%}" />
    <meta property="og:type" content="{%block fbtype%}website{%endblock%}" />
    <meta property="og:image" content="http://lukasz.langa.pl{{STATIC_URL}}{%block fbimage%}img/logo-large.jpg{%endblock%}" />
    <meta property="og:url" content="http://lukasz.langa.pl{{PATH_INFO}}" />
    <meta property="og:site_name" content="lukasz.langa.pl" />
    <meta property="fb:admins" content="lukasz.langa">
    <meta name="google-site-verification" content="m8vwZ4Olrv8gnauNXBjFcW7nVwa3FtHNo-jgFDrcnH4" />
    {%block meta%}{%endblock%}
    <title>{%block title%}{%trans "Home"%}{%endblock%} - lukasz.langa.pl</title>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/cssreset-min.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css?201207312350" />
    <link rel="canonical" href="http://lukasz.langa.pl{{PATH_INFO}}" />
    {%block links%}{%endblock%}
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body id="{{page}}">
    <div id="header">
      <div id="title">
        <a href="/">Łukasz Langa</a>
      </div>
      <div id="slogan">
        {%block slogan%}{%trans "Back to basics."%}{%endblock%}
      </div>
    </div>
    <div id="menu">
      {%block menu%}
      <ul>
        {%block custom-menu-entry%}{%endblock%}
        {%if page != 'recent'%}
        <li><a href="/">{%trans "Recent entries"%}</a>
        {%else%}
        <li>{%trans "Recent entries"%}
        {%endif%}
        {%if page != 'archive'%}
        <li><a href="/arch/">{%trans "Archive"%}</a>
        {%else%}
        <li>{%trans "Archive"%}
        {%endif%}
        {%if page == 'hell-froze-over'%}
        <!--
        {%if page != 'open-source'%}
        <li><a href="/open-source/">{%trans "Open source"%}</a>
        {%else%}
        <li>{%trans "Open source"%}
        {%endif%}
        {%if page != 'music'%}
        <li><a href="/music/">{%trans "Music"%}</a>
        {%else%}
        <li>{%trans "Music"%}
        {%endif%}
        -->
        {%endif%}
        {%if PATH_INFO != '/cv/'%}
        <li><a href="/cv/">{%trans "CV"%}</a>
        {%else%}
        <li>{%trans "CV"%}
        {%endif%}
        {%if PATH_INFO != '/recall/'%}
        <li><a href="/recall/">{%trans "recall"%}</a>
        {%else%}
        <li>{%trans "Recall"%}
        {%endif%}
        {%if PATH_INFO != '/anomalies/'%}
        <li><a href="/anomalies/">{%trans "Anomalies"%}</a>
        {%else%}
        <li>{%trans "Anomalies"%}
        {%endif%}
      </ul>
      {%endblock%}
      <div id="flags">
        <a rel="nofollow" href="?lang=pl"><img src="{{STATIC_URL}}lckd/flags16/Poland.png"></a>
        <a rel="nofollow" href="?lang=en"><img src="{{STATIC_URL}}lckd/flags16/United-Kingdom.png"></a>
      </div>
    </div>
    <div id="container">
      {%block body%}{%endblock%}
    </div>
    <div id="footer">
      <div id="copyright">
        {%block copyright%}
        &copy; 2012 - {% now "Y" %} Łukasz Langa
        <div id="other-portals">
          <a href="http://github.com/ambv/"><img src="http://www.github.com/favicon.ico" width="16" height="16" alt="GitHub" title="GitHub" /></a>
          <a href="http://bitbucket.org/ambv/"><img src="http://bitbucket-assets.s3.amazonaws.com/img/logo_new.png" width="16" height="16" alt="BitBucket" title="BitBucket" /></a>
          <a href="http://www.facebook.com/lukasz.langa"><img src="http://www.facebook.com/favicon.ico" width="16" height="16" alt="facebook" title="facebook" /></a>
          <a href="http://twitter.com/llanga"><img src="http://www.twitter.com/favicon.ico" width="16" height="16" alt="Twitter" title="Twitter" /></a>
          <a href="http://www.linkedin.com/in/llanga"><img src="http://www.linkedin.com/favicon.ico" width="16" height="16" alt="LinkedIn" title="LinkedIn" /></a> 
          <a href="http://www.strava.com/athletes/3654176"><img src="{{STATIC_URL}}img/favicon-strava.ico" width="16" height="16" alt="Strava" title="Strava"></a>
          <a href="https://www.endomondo.com/profile/11269741"><img src="http://www.endomondo.com/favicon.ico" width="16" height="16" alt="Endomondo" title="Endomondo"></a>
          <br/>
          <a href="https://www.instagram.com/rplktr/"><img src="https://instagramstatic-a.akamaihd.net/favicon.ico" width="16" height="16" alt="Instagram" title="Instagram" /></a>
          <a href="http://soundcloud.com/rplktr"><img src="http://soundcloud.com/favicon.ico" width="16" height="16" alt="SoundCloud" title="SoundCloud" /></a>
          <a href="http://ambv.deviantart.com/"><img src="http://www.deviantart.com/favicon.ico" width="16" height="16" alt="DeviantArt" title="DeviantArt" /></a>
          <a href="http://www.youtube.com/4mbv"><img src="http://www.youtube.com/favicon.ico" width="16" height="16" alt="YouTube" title="YouTube" /></a>
          <a href="https://getpocket.com/@ambv"><img src="https://getpocket.com/favicon.ico" width="16" height="16" alt="Pocket" title="Pocket" /></a>
          <a href="http://amzn.com/w/2O7UZT06JKPJ7"><img src="http://www.amazon.com/favicon.ico" width="16" height="16" alt="Amazon" title="Amazon" /></a>
          <a href="http://www.myfitnesspal.com/profile/4mbv"><img src="http://www.myfitnesspal.com/favicon.ico" width="16" height="16" alt="MyFitnessPal" title="MyFitnessPal" /></a>
        </div>
        {%endblock%}
      </div>
      <div id="powered-by">
        {%block poweredby%}{%trans "Powered by Python"%}{%endblock%}
      </div>
      <div id="facebook-love">
        <img style="display: none;" src="{{STATIC_URL}}img/logo-large.jpg">
      </div>
    </div>
    <div id="end-of-page">&nbsp;</div>
    {%block js%}{%endblock%}
    <!-- Start Google Analytics -->
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-7774166-2");
    pageTracker._trackPageview();
    } catch(err) {}</script><!-- End Google Analytics -->
  </body>
</html>
<!--STATS-->
