{%extends 'base.html'%}
{%load i18n%}

{%block title%}{{content.title}}{%endblock%}

{%block custom-menu-entry%}<li>{%trans 'Entry locked'%}{%endblock%}

{%block body%}
<h1>{%trans 'For your eyes only'%}</h1>
<form action="" method="post">
  {%csrf_token%}
  {{form.as_p}}
  <input type="submit" value="{%trans 'Submit'%}" />
</form>
{%endblock%}
