{%extends 'base.html'%}
{%load i18n%}
{%load langapl%}

{%block title%}{%if tag%}{%trans "Entries tagged as"%} {{tag}}{%else%}{%trans "Recent entries"%}{%endif%}{%endblock%}

{%block links%}{%spaceless%}
{%if tag%}
<link rel="alternate" type="application/rss+xml" href="/feed/tag/{{tag}}/rss-{{LANGUAGE_CODE}}.xml" title="{%trans 'lukasz.langa.pl: Recent entries tagged as'%} {{tag}}"/>
{%else%}
<link rel="alternate" type="application/rss+xml" href="/feed/recent/rss-{{LANGUAGE_CODE}}.xml" title="{%trans 'lukasz.langa.pl: Recent Entries'%}"/>
{%endif%}
{%endspaceless%}{%endblock%}

{%block custom-menu-entry%}<li>{%if tag%}{%trans 'Tag'%}: {{tag}}{%endif%}{%endblock%}

{%block body%}
{%if tag%}
<div class="rss"><a href="/feed/tag/{{tag}}/rss-{{LANGUAGE_CODE}}.xml"><img src="{{STATIC_URL}}lckd/icons/rss.png" alt="RSS" title="{%trans 'lukasz.langa.pl: Recent entries tagged as'%} {{tag}}"></a></div>
{%else%}
<div class="rss"><a href="/feed/recent/rss-{{LANGUAGE_CODE}}.xml"><img src="{{STATIC_URL}}lckd/icons/rss.png" alt="RSS" title="{%trans 'lukasz.langa.pl: Recent Entries'%}"></a></div>
{%endif%}
<h1>{%if tag%}{%trans "Entries tagged as"%} {{tag}}{%else%}{%trans "Recent entries"%}{%endif%}</h1>
{%for content in contents%}
<h2><a href="{{content.get_absolute_url}}">{{content.title}}</a></h2>
<h4 id="tags">
  {%if content.get_modification_date%}
  {{content.get_sort_date}}, {%trans 'last updated'%} {{content.get_modification_date|end_with_a_dot}}
  {%else%}
  {{content.get_sort_date|end_with_a_dot}}
  {%endif%}
{%if content.get_tags%}
    {%trans 'Entry tagged as'%}
    {%for tag in content.get_tags%}
    {%if forloop.last%}{%trans 'and'%}{%else%}{%if not forloop.first%},{%endif%}{%endif%} <a href="{%url tag tag.name_urlencoded%}">{{tag.name}}</a>{%if forloop.last%}.{%endif%} 
    {%endfor%}
{%endif%}
</h4>
<div class="summary">
{{content.summary_html|safe}}
</div>
{%endfor%}
{%endblock%}
