{%extends 'base.html'%}
{%load i18n%}

{%block title%}{{content.title}}{%endblock%}

{%block fbtitle%}{{content.title}}{%endblock%}
{%block fbtype%}article{%endblock%}
{%block meta%}
<meta property="og:description" content="{{content.summary_notags}}" />
{%endblock%}

{%block custom-menu-entry%}<li>{%trans 'Article'%}{%endblock%}

{%block body%}
<article>
<h1>{{content.title}}</h1>
<h4>{{content.get_sort_date}}
{%if content.get_modification_date%}
({%trans 'updated'%}: {{content.get_modification_date}})
{%endif%}
</h4>
<div id="lead">
{{content.summary_html|safe}}
</div>
{{content.content_html|safe}}
</article>
{%if tags%}
<h4 id="tags">
    {%trans 'Entry tagged as'%}
    {%for tag in tags%}
    {%if forloop.last%}{%trans 'and'%}{%else%}{%if not forloop.first%},{%endif%}{%endif%} <a href="{%url tag tag.name_urlencoded%}">{{tag.name}}</a>{%if forloop.last%}.{%endif%} 
    {%endfor%}
</h4>
{%endif%}
{%if page != 'private'%}
<div id="share">
  <div class="tweet">
    <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://lukasz.langa.pl{{content.get_absolute_url}}" data-via="llanga" data-counturl="http://lukasz.langa.pl{{content.get_absolute_url}}">Tweet</a>
  </div> 
  <div class="fb-like" data-send="true" data-width="450" data-show-faces="false"></div>
</div>
<div id="next-prev">
  {%if prev_entry%}
  <div id="prev-entry">
    <a href="{{prev_entry.get_absolute_url}}">&laquo;&nbsp;{{prev_entry.title}}</a>
  </div>
  {%endif%}
  {%if next_entry%}
  <div id="next-entry">
    <a href="{{next_entry.get_absolute_url}}">{{next_entry.title}}&nbsp;&raquo;</a>
  </div>
  {%endif%}
</div>
{%endif%}
{%endblock%}
{%block js%}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/{{FB_LANG}}/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<script type="text/javascript">
  (function(){
    var twitterWidgets = document.createElement('script');
    twitterWidgets.type = 'text/javascript';
    twitterWidgets.async = true;
    twitterWidgets.src = 'http://platform.twitter.com/widgets.js';
    document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
  })();
</script>
{%endblock%}
