// DECLARATIONS
$dim: #7a7a78
$background: #0b0b0b
$almost-white: #fbfbf7
$delicate-violet: #330033
$delicate-blue: #111144
$delicate-red: #661111
$almost-white-blue: #475c79
$footnote: #666666

@mixin outside-the-box($overflow: hidden)
  position: relative
  overflow: $overflow
  margin-left: 48px
  margin-right: 48px

// TAGS

html
  background: $background url('/static/img/recall-background.jpg') top center no-repeat
  background-attachment: fixed
  font-family: "lato", Arial
  font-size: 18px
  color: $almost-white

a
  color: $delicate-blue

a:visited
  color: $delicate-violet

h1
  display: none

h2
  margin-top: 2em
  margin-bottom: 1em
  font-weight: bold
  font-style: italic
  font-size: 1.2em

p
  margin-top: 1em
  text-align: justify

strong
  font-weight: bold

em
  font-style: italic

blockquote
  color: $dim
  margin: 1em 0 0 2em

// ELEMENTS

#container
  border: 0px
  clear: both
  line-height: 150%
  margin: 2em auto
  max-width: 640px 
  min-height: 5em
  overflow: hidden
  padding: 2em
  ul
    margin-top: 3em
    list-style-type: none
    li
      color: $almost-white
      float: left
      display: block
      margin-right: 24px 
      text-transform: uppercase
      a.button
        display: block
        overflow: hidden
        margin-bottom: 4px
    a
      color: $dim
      text-decoration: none
    a:hover
      color: $almost-white
      text-decoration: underline

  #coverart
    margin-bottom: 2em
    max-width: 100%

  #tracklist
    width: 100%
    td.trackno
      width: 2em
      color: $dim
    td.duration
      text-align: right
      color: $dim

#footer
  @include outside-the-box(visible)
  color: $dim
  #copyright
    float: right
    text-align: right
  #powered-by
    float: left

#end-of-page
  clear: both
